<h1>Today's Awesome Pirate</h1>
<p><%=@pirate.name%></p>
<p><%=@pirate.height%></p>
<p><%=@pirate.weight%></p>

<h2>Favorite Ship</h2>
<p><%=@ships.first.name%></p>
<p><%=@ships.first.type%></p>
<p><%=@ships.first.booty%></p>

<img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/07/7a/8e/5d.jpg" alt="ship_1">

<h2>OP Ship</h2>
<p><%=@ships.last.name%></p>
<p><%=@ships.last.type%></p>
<p><%=@ships.last.booty%></p>

<img src="https://cdn.shopify.com/s/files/1/2384/2133/products/lg_50469_800x.jpg?v=1516326301" alt=ship_2>
